BODY
{  
	color: #000000; 
	background-color: #FFFFFF;
	/*text-align:right;*/
	direction:rtl;
	margin:0;
}
input, select, textarea
{
	BORDER-BOTTOM: 1px solid; 
	BORDER-LEFT: 1px solid; 
	BORDER-RIGHT: 1px solid; 
	BORDER-TOP: 1px solid; 
	font-family:arial;
	font-size:12px;
	direction:rtl;
	color: #000000;
	background-color: white;
	width:			5cm;
}
.inputboxsearch
{  
	width:			3cm;
}
.buttonsend , .buttonsend:visited{
	background-color: #FFCC00;
	background-image:none;
	border: thin #000000 solid;
	color: #000000;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	width: 3cm;
	height:auto;
	cursor:default;
}
.buttonUpdateDetail , .buttonUpdateDetail:visited{
	background-color: #FFCC00;
	background-image:none;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	font-family: arial;
	font-size: 15px;
	font-weight: normal;
	height: 0.7cm;
	width: 6cm;
	cursor:default;
}
.buttonUpdateDetail:hover , .buttonUpdateDetail:focus,.buttonUpdateDetail:active{
	background-color: #FFCC00;
	background-image:none;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	font-family: arial;
	font-size: 15px;
	font-weight: normal;
	height: 0.7cm;
	width: 6cm;
	cursor:default;
}
.rachbox
{  
	background-color: transparent;
	width:			1cm;
	border-style:	none;
}
form
{
	MARGIN: 0px
}
a
{
	text-decoration:underline;
}
a:hover
{
	text-decoration: underline;
}
a.orange14link
{ 
	font-size: 14px;
	font-weight: bold;
	color: #E59319;
	font-family: arial;
}
a.orange12link
{ 
	font-size: 12px;
	font-weight: bold;
	color: #E59319;
	font-family: arial;
}
a.blue14link
{ 
	font-size: 14px;
	font-weight: bold;
	color: #0F4BFF;
	font-family: arial;
}
a.blue12link
{ 
	font-size: 12px;
	font-weight: bold;
	color: #0F4BFF;
	font-family: arial;
}
a.blue10link
{ 
	font-size: 10px;
	font-weight: bold;
	color: #0F4BFF;
	font-family: arial;
}
a.white14link
{
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: arial;
}
a.white12link
{
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: arial;
}
a.white10link
{
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: arial;
}
a.black14link
{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	font-family: arial;
}
a.black12link
{ 
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	font-family: arial;
}
.red16
{
	font-size: 16px; 
	font-weight: bold; 
	color: #CC0000; 
	font-family: arial;
}
.red14
{
	font-size: 14px; 
	font-weight: normal; 
	color: #CC0000; 
	font-family: arial;
}
.red12
{
	font-size: 12px; 
	font-weight: normal; 
	color: #CC0000; 
	font-family: arial;
}
.red10
{
	font-size: 10px; 
	font-weight: normal; 
	color: #CC0000; 
	font-family: arial;
}
.blue16
{
	font-size: 16px; 
	font-weight: bold; 
	color: #0F4BFF; 
	font-family: arial;
}
.blue14
{
	font-size: 14px; 
	font-weight: normal; 
	color: #0F4BFF; 
	font-family: arial;
}
.blue12
{
	font-size: 12px; 
	font-weight: normal; 
	color: #0F4BFF; 
	font-family: arial;
}
.blue10
{
	font-size: 10px;
	font-weight: normal;
	color: #0F4BFF;
	font-family: arial;
}
.black16
{
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	font-family: arial;
}
.black14
{
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	font-family: arial;
}
.black12
{
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	font-family: arial;
}
.black10
{
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	font-family: arial;
}
.white16
{
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: arial;
}
.white14
{
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	font-family: arial;
}
.white12
{
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	font-family: arial;
}
.white10
{
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	font-family: arial;
}
.SiteButtonManageOff
{
	font-family: arial;
	border-width:1px;
	border-color:#cccccc;
	border-style:solid;
	background-color:#2D3B72;
	display: inline;
}
.SiteButtonManageOn
{
	font-family: arial;
	border-width:1px;
	border-color:#cccccc;
	border-style:solid;
	background-color:#6280F6;
	display: inline;
}
.SiteButtonManageIn
{
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	white-space: nowrap;
	cursor:pointer;
}

.SiteButtonManageOffRed
{
	font-family: arial;
	border-width:1px;
	border-color:#cccccc;
	border-style:solid;
	background-color:#CC0000;
	display: inline;
}
.SiteButtonManageOnRed
{
	font-family: arial;
	border-width:1px;
	border-color:#cccccc;
	border-style:solid;
	background-color:#FF0000;
	display: inline;
}
.SiteButtonManageInRed
{
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	white-space: nowrap;
	cursor:pointer;
}
.ManageBlueHeader
{
	font-family:		arial;
	font-size:			13px;
	font-weight:		normal;
	color:				#000000;
	background-color:	#D1DEF1;
	height:				15px;
	padding:			2px;
}
/* AddThis company has a bug that add a scroll bar for all the sites that are RTL and use AddThis toolbar. */
/* This class is fix it but we need to remove it after they will fix the bug. */
div.addthis_toolbox span.at_a11y{
	display:none;
}